@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.headings {
    font-family: 'Lato', sans-serif;
}

.parallax-container {
    width: 100%;
    height: 470px;
    /* Adjust the height as needed */
    overflow: hidden;
    position: relative;
}

.parallax-container2 {
    width: 100%;
    height: 470px;
    /* Adjust the height as needed */
    overflow: hidden;
    position: relative;
}

.parallax-image {
    width: 100%;
    height: 100%;
    background-image: url('life_2.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
}

.parallax-image2 {
    width: 100%;
    height: 100%;
    background-image: url('trash-7.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
}

body {
    background: #fff;
}

nav {
    background: #181D31;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 100px;
}

nav .logo {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
}

nav .nav-items {
    display: flex;
    flex: 1;
    padding: 0 0 0 40px;
    justify-content: flex-end;
}

nav .nav-items li {
    list-style: none;
    padding: 0 15px;
}

nav .nav-items li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    font-size: 20px;
}

nav form {
    display: flex;
    height: 40px;
    padding: 2px;
    background: #1e232b;
    min-width: 18% !important;
    border-radius: 2px;
    border: 1px solid rgba(155, 155, 155, 0.2);
}

nav form .search-data {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    color: #fff;
    font-size: 17px;
    border: none;
    font-weight: 500;
    background: none;
}

nav form button {
    padding: 0 15px;
    color: #fff;
    font-size: 17px;
    background: #ff3d00;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

nav form button:hover {
    background: #e63600;
}

nav .menu-icon,
nav .cancel-icon,
nav .search-icon {
    width: 40px;
    text-align: center;
    margin: 0 50px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    display: none;
}

nav .menu-icon span,
nav .cancel-icon,
nav .search-icon {
    display: none;
}

@media (max-width: 1245px) {
    nav {
        padding: 0 50px;
    }
}

@media (max-width: 1140px) {
    nav {
        padding: 0px;
    }

    nav .logo {
        flex: 2;
        text-align: center;
    }

    nav .nav-items {
        position: fixed;
        z-index: 99;
        top: 70px;
        width: 100%;
        left: -100%;
        height: 100%;
        padding: 10px 50px 0 50px;
        text-align: center;
        background: #14181f;


        display: inline-block;
        transition: left 0.3s ease;
    }

    nav .nav-items.active {
        left: 0px;
    }

    nav .nav-items li {
        line-height: 40px;
        margin: 30px 0;
    }

    nav .nav-items li a {
        font-size: 20px;
    }

    nav form {
        position: absolute;
        top: 80px;
        right: 50px;
        opacity: 0;
        pointer-events: none;
        transition: top 0.3s ease, opacity 0.1s ease;
    }

    nav form.active {
        top: 95px;
        opacity: 1;
        pointer-events: auto;
    }

    nav form:before {
        position: absolute;
        content: "";
        top: -13px;
        right: 0px;
        width: 0;
        height: 0;
        z-index: -1;
        border: 10px solid transparent;
        border-bottom-color: #1e232b;
        margin: -20px 0 0;
    }

    nav form:after {
        position: absolute;
        content: '';
        height: 60px;
        padding: 2px;
        background: #1e232b;
        border-radius: 2px;
        min-width: calc(100% + 20px);
        z-index: -2;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    nav .menu-icon {
        display: block;
    }

    nav .search-icon,
    nav .menu-icon span {
        display: block;
    }

    nav .menu-icon span.hide,
    nav .search-icon.hide {
        display: none;
    }

    nav .cancel-icon.show {
        display: block;
    }
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.content header {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.content .text {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.content .space {
    margin: 10px 0;
}

.navbar-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar-brand .logo {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    margin-left: 10px;
}

.navbar-brand .logo span {
    display: block;
    margin-top: -5px;
}

.news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.news-item {
    width: calc(50% - 20px);
    /* Adjust the width as needed */
    background-color: #fff;
    border-radius: 50px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.news-item .photo-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 75%;
    /* Control the aspect ratio of the photo container (e.g., 75% for a 4:3 aspect ratio) */
    overflow: hidden;
    border-radius: 50px;
    margin-top: 20px;
    /* Adjust the margin as needed */
}

.news-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-item h3 {
    margin-top: 10px;
}

.news-item p {
    margin-top: 10px;
    padding: 0 10px;
    /* Add padding to the paragraphs */
}

.about-us {
    padding: 90px;
    background: #E6DDC4;
}

.pic {
    height: auto;
    width: 302px;
}

.about {
    width: 1130px;
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text {
    width: 540px;
}
